.bar {
    width: 100%;

    position: fixed;
    bottom: 40px;
}

.bar__box {
    z-index: 100;

    padding: 14px 0 14px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 26px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    box-shadow: 0 8px 24px rgba(11, 96, 186, 0.4);
}

.bar__link {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    & > svg {
        color: #465463;
        font-size: 22px;
    }

    &.active > .bar__title {
        font-weight: 500;
        font-size: 12px;
        color: #0b60ba;
    }

    &.active > svg {
        color: #0b60ba;
    }
}

.bar__title {
    font-weight: 400;
    font-size: 12px;
    color: #465463;
}