@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    user-select: none;

    font-family: "Ubuntu", sans-serif;

    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 480px;
    padding: 0 25px;
    margin: 0 auto;
}

body {
    background-color: #d7e9fd;
}

body.is-webapp .application {
    padding: 60px 0;
}

.application {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 480px) {
    .application {
        display: none;
    }
}